#This program will calculate the total amount of change you have

def main():

    pennies = eval(input("Please input the amount of pennies that you have: "))
    nickles = eval(input("Please input the amount of nickles that you have: "))
    dimes = eval(input("Please input the amount of dimes that you have: "))
    quarters = eval(input("Please input the amount of quarters that you have: "))
    dollarcoins = eval(input("Please input the amount of dollar coins that you have: "))

    pennies = .01 * pennies
    nickles = .05 * nickles
    dimes = .10 * dimes
    quarters = .25 * quarters
    dollarcoins = 1.00 * dollarcoins

    sum = pennies + nickles + dimes + quarters + dollarcoins

    print("You have a total of $",sum)

main()
